%piano-key {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 100%;
	$z: em(100);
	height: calc((100vh - #{$z}) / 24);
	border: none;
	border-top-right-radius: em(6);
	border-bottom-right-radius: em(6);
}

.piano {
	width: em(80);
	height: 100%;

	&__section {
		padding: 0;
		display: flex;
		width: 100%;
		overflow-y: scroll;
	}

	&__key {
		@extend %piano-key;
		background-color: white;

		&:hover {
			@extend %background-dark;
		}

		&[data-key*="#"]:hover {
			background-color: white;
		}

		&:focus {
			outline: none;
		}
	}

	&__key[data-key*="#"] {
		background-color: white;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		color: white;

		&:after {
			content: '';
			background-color: black;
			width: 75%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			border-top-right-radius: em(6);
			border-bottom-right-radius: em(6);
		}

		&:hover:after {
			// background-color: rgb(54, 117, 119);
			@extend %background-dark;
		}

		&:focus {
			outline: none;
		}
	}
}