%piano-key {
    display: block;
    width: 100%;
    height: calc(100vh / 24);
    border: none;
}

.piano {
    width: em(60);
    height: 100%;

    &__key {
        @extend %piano-key;
        background-color: white;
        &:hover {
            background-color: rgb(159, 217, 219);
        }
        &:focus { outline: none; }
    }

    &__key[data-key*="#"] {
        background-color: black;
        &:hover {
            background-color: rgb(54, 117, 119);
        }
        &:focus { outline: none; }
    }
}

.piano-roll {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.row {
    position: absolute;
    height: calc(100vh / 24);
    width: 100%;
    background-color: rgb(100, 159, 177);
    
    &[data-note*="#"] {
        background-color: rgb(90, 145, 161);
    }
}

@for $i from 0 to 24 {
    .row-#{$i} {
        // because 100% caused gaps
        top: ((99.9999% / 24) * $i);
    }
}
