.piano-roll {
	position: relative;
	width: 100%;
	height: 100%;
}

.row {
	position: absolute;
	top: 0;
	$z: em(100);
	height: calc((100vh - #{$z}) / 24);
	width: 100%;
	@extend %background-base;
	border-bottom: em(1) solid;
	@extend %border-color-dark;

	&:last-child {
		border-bottom: none;
	}

	&[data-note*="#"] {
		// background-color: rgb(90, 145, 161);
		@extend %background-light;
	}
}

@for $i from 0 to 60 {
	.row:nth-child(#{$i}) {
		// because 100% caused gaps
		top: ((99.9999% / 24) * ($i - 2));
	}
}

.note {
	position: absolute;
	z-index: 100;
	display: inline-block;
	height: 100%;

	border-radius: em(4);
	@extend %background-darker;

	cursor: grab;

	&:hover {
		@extend %background-dark;
	}

	&__handle {
		position: absolute;
		right: 0;
		width: em(20);
		height: 100%;
		border-radius: em(4);
		background-color: green;
		cursor: ew-resize;

		&:hover {
			background-color: rgba(green, 0.5);
		}
	}
}

/* Markers */

.marker-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 200%;
	pointer-events: none;
}

.bar-marker {
	border: em(0.5) solid;
	@extend %border-color-darker;
	flex: 1 0 auto;
	z-index: 99;

	display: flex;

}

.beat-marker {
	border: em(0.5) solid rgba(slategrey, 0.4);
	flex: 1 0 auto;
}

.position-marker {
	position: absolute;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	width: em(5);
	height: 100%;
	background-color: crimson;
	will-change: left; // TODO: change to a transform
}