$module: 'topbar';

// temporary location

.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
    @extend %background-neutral;
    padding: em(10);
    min-width: em(200);

    label:hover & {
        display: block;
    }
}

.#{$module} {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: em(100);

    @extend %component;
    @extend %background-darker;

    &__item {
        flex: 0 0 0;
        display: flex;

        @extend %color-text;

        @extend %component-row;
        @extend %border-color-dark;
    }

    &__segment {
        display: flex;
        flex-direction: column;

        padding: 0 em(10);

        &:first-child {padding: 0 em(10) 0 0}
        &:last-child  {padding: 0 0 0 em(10)}

        & > * {
            flex: 0 0 50%;
            display: flex;
            flex-direction: row;
            padding: 0 em(5);
        }
        & label {
            position: relative;
            padding-right: em(20);
            flex: 0 0 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & input, & select {
            flex: 0 0 70%;
        }
    }
}

.project-setup {
    &__controls {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__control {
        flex: 0 1 50%;
    }
}