$module: 'topbar';

.#{$module} {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-height: em(100);

    @extend %component;

    &__item {
        flex: 0 0 0;
        display: flex;

        @extend %component;
    }
}